@model LibraryApp.Data.ViewModels.TransactionBundle;

@{
    ViewData["Title"] = "Admin Dashboard";
}

<h2>Overview</h2>
<div class="row">
    <div class="col-md-6">
        <h4>Available Credit: $@string.Format("{0:#.00}", Convert.ToDecimal(@Model.Balance.Available.Sum(n => n.Amount)) / 100) </h4> 
    </div>
    <div class="col-md-6">
        <h4>Pending Credit: $@string.Format("{0:#.00}", Convert.ToDecimal(@Model.Balance.Pending.Sum(n => n.Amount)) / 100) </h4>
    </div>
</div>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Type</th>
            <th scope="col">Status</th>
            <th scope="col">Amount</th>
            <th scope="col">Created</th>
            <th scope="col">Available on</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var transaction in Model.Transactions)
        {
        <tr>
            <th scope="row">@transaction.Type</th>
            <td>@transaction.Status</td>
            <td>$@string.Format("{0:#.00}", Convert.ToDecimal(@transaction.Amount) / 100)</td>
            <td>@transaction.Created</td>
            <td>@transaction.AvailableOn</td>
        </tr>
        }
    </tbody>
</table>

<hr />

<h2>Customers</h2>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Balance</th>
            <th scope="col">Created</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model.Customers)
        {
            <tr>
                <th scope="row">@customer.Name</th>
                <td>$@string.Format("{0:#.00}", Convert.ToDecimal(@customer.Balance) / 100)</td>
                <td>@customer.Created</td>
            </tr>
        }
    </tbody>
</table>